@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .showup {
    @apply group-hover:opacity-100 opacity-30 duration-[2000ms] group-hover:duration-500;
  }
}
* {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.svg-logo {
  filter: drop-shadow(9px 17px 0px #000000a3);
}
.pers {
  perspective: 100rem;
}
.tres {
  transform: rotateY(31deg) scale(0.93) skewY(360deg);
}
